<div class="movie-plot">
  <div class="poster">
    <img src="{{result.img}}">
    <a href="/trailer/{{result.id}}">Watch Trailer</a>
  </div>
  <div class="description">
    {{result.description}}
  </div>
</div>