<form class="search-form" action="/search" method="GET">
    <input class="search-input" type="search" name="text" placeholder="Search through IMDB Titles...">
    <button class="search-button" type="submit">Search</button>
</form>
{{#if result}}
<div class="results-container">
    {{#each result}}
    {{> search-result}}
    {{/each}}
</div>
{{else}}
<div class="error-message">
    <h2>{{error}}</h2>
</div>
{{/if}}