body {
    background-image: var(--gradient);
    background-size: 350%;
}
.navigation {
    display: flex;
    justify-content: center;
}

.navigation>ul>a {
    font: 1em sans-serif;
    font-size: 25px;
    color: #b9beb7;
    margin: 5px;
}

.search-form {
    display: flex;
    justify-content: center;
}

.search-input {
    width: 250px;
    height: 40px;
}

.top-20-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    row-gap: 30px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.top-20-tvSeries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    row-gap: 30px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.coming-soon-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    row-gap: 30px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.intheatres-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    row-gap: 30px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.movie-partial {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 35px;
    grid-template-areas: 
    "title  title  title"
    "image image image"
    "director director trailer";
    width: 380px;
    height: 550px;
    background-color: #b9beb7;
}

.movie-title {
    grid-area: title;
    justify-self: center;
    margin-top: 10px;
    font: 1em sans-serif;
    font-size: 20px;
}

.movie-img {
    grid-area: image;
    justify-self: center;
}

.movie-img>img {
    width: 350px;
    height: 350px;
}

.movie-director {
    grid-area: director;
    margin-left: 10px;
    font: 1em sans-serif;
    font-size: 16px;
}

.movie-trailer {
    grid-area: trailer;
    font: 1em sans-serif;
    font-size: 20px;
}

.new-movies-partial {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 35px;
    grid-template-areas: 
    "title  title  title"
    "image image image"
    "actors actors trailer";
    width: 380px;
    height: 550px;
    background-color: #b9beb7;
}

.new-movies-title {
    grid-area: title;
    justify-self: center;
    margin-top: 10px;
    font: 1em sans-serif;
    font-size: 20px;
}

.new-movies-img {
    grid-area: image;
    justify-self: center;
}

.new-movies-img>img {
    width: 350px;
    height: 350px;
}

.new-movies-actors {
    grid-area: actors;
    margin-left: 10px;
    font: 1em sans-serif;
    font-size: 16px;
}

.new-movies-trailer {
    grid-area: trailer;
    font: 1em sans-serif;
    font-size: 20px;
}

.in-theatres-partial {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 35px;
    grid-template-areas: 
    "title  title  title"
    "image image image"
    "actors actors trailer";
    width: 380px;
    height: 550px;
    background-color: #b9beb7;
}

.in-theatres-title {
    grid-area: title;
    justify-self: center;
    margin-top: 10px;
    font: 1em sans-serif;
    font-size: 20px;
}

.in-theatres-img {
    grid-area: image;
    justify-self: center;
}

.in-theatres-img>img {
    width: 350px;
    height: 350px;
}

.in-theatres-actors {
    grid-area: actors;
    margin-left: 10px;
    font: 1em sans-serif;
    font-size: 16px;
}

.in-theatres-trailer {
    grid-area: trailer;
    font: 1em sans-serif;
    font-size: 20px;
}

.searched-movies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-self: center;
    grid-gap: 35px;
    grid-template-areas: 
    "title  title  title"
    "image image image"
    ". . trailer";
    width: 380px;
    height: 550px;
    background-color: #b9beb7;
}

.search-movie-title {
    grid-area: title;
    justify-self: center;
    margin-top: 10px;
    font: 1em sans-serif;
    font-size: 20px;
}

.search-movie-img {
    grid-area: image;
    justify-self: center;
}

.search-movie-img>img {
    width: 350px;
    height: 350px;
}

.search-movie-trailer {
    grid-area: trailer;
    grid-area: trailer;
    font: 1em sans-serif;
    font-size: 20px;
}

.search-div-result {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.search-button {
    cursor: pointer;
}

.error-message {
    display: flex;
    justify-content: center; 
    color: rgb(177, 31, 31);
}

.home-page>img {
    max-width: 100%;
    height: auto;  
}

.page-not-found>img {
    max-width: 70%;
    height: auto; 
}

.page-not-found {
    display: flex;
    justify-content: center;
}

.error-message-404 {
    display: flex;
    justify-content: center;
}

.service-unavailable {
    display: flex;
    justify-content: center;
}

.service-unavailable>img {
    max-width: 90%;
    height: auto;
}

:root {
    --gradient: linear-gradient(
        45deg,
        #797065,
        #70614f
    );
}
