<div class="movie-partial">
    <div class="movie-title">
        {{title}}
    </div>
    <div class="movie-img">
        <img src="{{image}}">
    </div>
    <div class="movie-director">
        {{crew}}
    </div>
    <div class="movie-trailer">
        <a href="/trailer/{{id}}">Trailer</a>
    </div>
</div>