<div class="movie-partial">
    <div class="movie-title">
        {{title}}
    </div>
    <div class="movie-img">
        <img src="{{image}}">
    </div>
    <div class="movie-director">
        {{crew}}
    </div>
    <div class="movie-plot">
        <a href="/movie-plot/{{id}}">Plot</a>
    </div>
</div>