<div class="new-movies-partial">
    <div class="new-movies-title">
        {{title}}
    </div>
    <div class="new-movies-img">
        <img src="{{image}}">
    </div>
    <div class="new-movies-actors">
        {{stars}}
    </div>
    <div class="new-movies-plot">
        <a href="/movie-plot/{{id}}">Plot</a>
    </div>
</div>