<div class="search-div-result">
    <div class="searched-movies">
        <div class="search-movie-title">
            {{title}}
        </div>
        <div class="search-movie-img">
            <img src="{{image}}">
        </div>
        <div class="search-movie-plot">
            <a href="/movie-plot/{{id}}">Plot</a>
        </div>
    </div>
</div>