<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>

<body>
    <div>
        <nav>
            <ul>
                <a href="/movies">20's Movies</a>
                <a href="/tv-series">20's TV Series</a>
            </ul>
        </nav>
        {{{body}}}

    </div>

</body>

</html>